.container {
    background-color: rgb(192, 192, 226);
    margin: 0 auto;
    height: 700px;
    width: 700px;
    position: block;
}

.header {
    display: flex;
    align-items: center;   
}

.menu__header {
    margin-left: 15px;
}

.btn__header {
    margin-left: 460px;
}

/* slider */

.slider__btn {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}